body{
	display: grid;
	grid-template-rows: 2% 80%;
	font-family: 'Fredoka', sans-serif;
	font-size: 20px;
	font-weight: bold;
	background: rgb(52, 56, 61);
	color: #ffffff;
}

header{
	display: grid;
	grid-template-columns: 25% 750%;
	align-items: start;
}

a{
	text-decoration: none;
	color: #ffffff;
}

#airconds {
	display: grid;
}