@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  background: #211717;
}

#wrapper {
  height: 95vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /*#main_text{
      margin-bottom: 2vh;
      font-family: 'Montserrat', sans-serif;
      font-size: 24px;
      color: #E6E4E4;
  }*/
}
#wrapper #logo {
  margin-bottom: 2vh;
  max-width: 30vw;
}
#wrapper #logo img {
  width: 100%;
}
#wrapper #signin_form {
  display: flex;
  flex-direction: column;
}
#wrapper #signin_form input {
  margin-bottom: 1vh;
  background-color: #E6E4E4;
  color: #211717;
  box-shadow: inset -100px -100px 0 #E6E4E4;
  text-align: center;
  padding: 15px 25px;
  border: 1px solid;
  border-image: linear-gradient(180deg, #ff3000, #ed0200, #ff096c, #d50082);
  border-image-slice: 1;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 2px;
}

.button {
  background-color: #211717;
  color: #E6E4E4;
  text-decoration: solid;
  position: relative;
  text-align: center;
  padding: 15px 25px;
  border: 1px solid;
  border-image: linear-gradient(180deg, #ff3000, #ed0200, #ff096c, #d50082);
  border-image-slice: 1;
  font-family: "Montserrat", sans-serif;
  overflow: hidden;
  letter-spacing: 2px;
  transition: 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.button::before {
  content: "";
  background-color: #211717;
  position: absolute;
  left: 0;
  top: 0;
  height: 0;
  width: 100%;
  z-index: -1;
  background: linear-gradient(180deg, #ff3000, #ed0200, #ff096c, #d50082);
  transition: 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.button:hover {
  background: rgba(255, 255, 255, 0);
}
.button:hover::before {
  bottom: 0%;
  top: auto;
  height: 100%;
}