{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="{% static 'client/css/client.css' %}">
        <title>Личный кабинет</title>
        <!-- <link rel="shortcut icon" type="image/png" href="img/favicon.ico" /> -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div id="header">
            <div id="logo">
                <img id="logo_img" src="{% static '/main/img/logo_img.png' %}" >
            </div>
            <div id="user">
                <div id="user_info">
                    <div>{{ user.username }}</div>
                </div>
                <div class="button" onclick="delCookies()"> ВЫЙТИ </div>
                <a id="hidden_button" style="display: none;" href="{% url 'client:logout' %}"></a>

            </div>    
        </div>
        <div id='body'>
            <div id="interface">
                <div id="errors">
                    {% for key, value in current_data.items %}
                        <p>{{key}}:  {{value}}</p>
                    {% endfor %}
                </div>
                <div id="device_info">
                    {% for key, value in current_data.items %}
                        <p>{{key}}:  {{value}}</p>
                    {% endfor %}
                </div>
                <div id="buttons">
                    <div class="button_block">
                        <div class="button_group">Графики</div>
                        <div class="button_box">
                            <a href="{% url 'client:client_page' days_to_show=7 data_type='graph'%}" class="button">ДАННЫЕ ЗА 7 ДНЕЙ </a>
                            <a href="{% url 'client:client_page' days_to_show=1 data_type='graph'%}" class="button">ДАННЫЕ ЗА 1 ДЕНЬ </a>
                        </div>
                    </div>
                    <div class="button_block">
                        <div class="button_group">Таблицы</div>
                        <div class="button_box">
                            <a href="{% url 'client:client_page' days_to_show=1 data_type='table'%}" class="button">ПОЛНЫЙ ПАКЕТ ЗА 7 ДНЕЙ</a>
                            <a href="{% url 'client:client_page' days_to_show=1 data_type='table'%}" class="button">ПОЛНЫЙ ПАКЕТ ЗА 1 ДЕНЬ</a>
                        </div>    
                    </div>
                </div>
            </div>
            <div id="chart">
                {% for data in grafana_data %}
                    <div class="grafana">
                        <iframe src="{{ data }}" width="100%" height="100%" frameborder="0"></iframe>
                    </div>   
                {% endfor %}
            </div>
        </div>
        
        <script src="{% static 'client/js/client.js' %}"></script>
    </body>
</html>
