{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'client/css/client.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Fredoka&display=swap" rel="stylesheet">
    <title>Личный кабинет</title>
</head>
<body>
    <header>
        <p>{{ user.username }}</p>
        <p>logout</p>
    </header>
    <div id='airconds'>
        <div class="aircond_data">
        	<p>Кондиционер1</p>

        	<div class="errors">
        		<p>Ошибки отсутствуют</p>
        	</div>
        	<p>датчики температуры</p>
			<iframe src="{{ grafana.temperature }}" width="1080" height="590" frameborder="0"></iframe>
        	<p>датчик давления</p>
        	<img src="https://datavizcatalogue.com/RU/metody/images/top_images/SVG/linejnyj_grafik.svg">
        	<p>первый датчик наличия контакта</p>
        	<img src="https://datavizcatalogue.com/RU/metody/images/top_images/SVG/linejnyj_grafik.svg">
        	<p>второй датчик наличия контакта</p>
        	<img src="https://datavizcatalogue.com/RU/metody/images/top_images/SVG/linejnyj_grafik.svg">
        	<p>датчик тока</p>
        	<img src="https://datavizcatalogue.com/RU/metody/images/top_images/SVG/linejnyj_grafik.svg">
        </div>
    </div>
</body>
</html>