{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'client/css/client.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Fredoka&display=swap" rel="stylesheet">
    <title>Личный кабинет</title>
</head>
<body>
    <header>
        <p>Здравствуйте, {{ user.username }}, ваш user id- {{ user.id }}</p>
    </header>
    <div id='airconds'>
        <div class="aircond_data">
        	<p>Кондиционер1</p>
        	<div class="errors">
        		<p>Ошибки отсутствуют</p>
        	</div>
			{% for data in grafana_data %}
				<iframe src="{{ data }}" width="1080" height="590" frameborder="0"></iframe>
			{% endfor %}
        </div>
    </div>
</body>
</html>