{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Авторизация</title>
        <link rel="stylesheet" href="{% static 'client/css/login.css' %}">
        <!-- <link rel="shortcut icon" type="image/png" href="img/favicon.ico" /> -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div id="wrapper">
            <div id="logo">
                <img src="{% static '/main/img/logo.png' %}" >
            </div>
            <!-- <div id="main_text">Авторизация</div> -->
            <form id="signin_form" method="post" action="{% url 'client:login' %}" onchange="setCookies()">
                {% csrf_token %}
                <input type="text" id="user" placeholder="ЛОГИН" name="username"/>
                <input type="password" id="pass" placeholder="ПАРОЛЬ" name="password"/>
                <button type="submit" class="button" id="post_button">ВОЙТИ</button>
            </form>
        </div>
        
        <script src="{% static 'client/js/login.js' %}"></script>
    </body>
</html>
